Section: devel
Priority: optional
Maintainer: Sashaoli <olisasha@yahoo.com>
Build-Depends: debhelper (>= 10)
Standards-Version: 4.1.2
Homepage: <http://sashaoli.ho.ua>
#Vcs-Git: https://anonscm.debian.org/git/collab-maint/giteapanel-2019.05.11.git
#Vcs-Browser: https://anonscm.debian.org/cgit/collab-maint/giteapanel-2019.05.11.git

Package: giteapanel
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Управління локальним сервером Gitea.
 Управління локальним сервером Gitea з трею.
 Запуск/зупика сервера.
 Відкриття сторінки Gitea у вибраному браузері.
 
